.web-main-header{
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(82, 149, 193);
    z-index: 1000;
    position: fixed;
    padding: 10px;
}
.web-main-h2 a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.84);
    text-shadow: 0 0 2px black;
    
}
.web-main-input{
    outline: none;
    border-radius: 0;
    border: 1px solid rgb(218, 206, 189);
    width: 300px;
    height: 25px;
    font-size: small;
    background-color: rgba(255, 245, 231, 0.529);
}

.nav-item-nav{
}
.nav-item-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.nav-item-li{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;

}
.nav-item-li:hover{
    background-color:burlywood;
}

.nav-item-li a{
    padding: 20px;
    padding-inline: 30px;
    text-decoration: none;
    color: #fff;
    font-size: small;
    font-weight: 10px;
    transition: 0.4s;
}
.nav-item-li a:hover{
    color: white;

}